

div.error {
  border: 2px solid #990000;
  border-radius: 5px;
  padding: 0.2em;
  margin: 0.5em;
  display: inline-block;
}

div.notification {
  border: 2px solid #006600;
  border-radius: 5px;
  padding: 0.2em;
  margin: 0.5em;
  display: inline-block;
}
